body {
  background-image: url(http://tinyurl.com/ztn5n2n);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50%;
  font-family: 'Bubblegum Sans', cursive; }
h1, button {
  display: block;
  text-align: center;
  margin: 0.5rem auto; }
h1 {
  font-size: 3rem; }
button {
  font-family: 'Bubblegum Sans', cursive;
  background-color: #f00;
  border: inset 1px solid;
  padding: 0.35em;
}
#container {
  border: 1px solid yellow;
  position: fixed;
  bottom: 1rem;
  width: 100%;
  display: flex;
  flex-wrap: no-wrap;
  justify-content: space-around; }
.hole {
  height: 2rem;
  width: 50rem;
  background-color: #684505;
  border: 1px solid brown;
  border-radius: 50%;
  box-shadow: inset 0px 10px 10px #312204;
  text-align: center; }
.mole {
    display: none;          /* temporary */
  border: 1px solid white;
  height: 5rem;
  width: 90%;
}
.selected {
  display: none;
}